@font-face {
    font-family: 'San Francisco';
    src: url('./font/sfuitext-regular-webfont.woff') format('woff'),
      url('./font/sfuitext-regular-webfont.woff2') format('woff2');
  }

body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;
    margin: 0;
    height: 100vh;
    font-family: 'San Francisco';
    color: white;
    background-color: rgb(51, 51, 51);
    font-size: 1.3em;
}

div {
    border-radius: 0.7em;
    margin: 0.3em;
}

h1, h2#titleHead, h3#titleSide, button#addItem {
    margin: 1em;
}

button#addItem {
    text-align: center;
    background-color: rgb(79, 40, 40);
    padding: 0.5rem;
    border-radius: 8px;
    border: 0;
    color: white;
    font-size: 0.9em;
}

h3#titleSide {
    font-size: 25px;
}

div.banner {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    background-color: rgb(65, 65, 65);
}

div.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
}

div.pitch {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(65, 65, 65);
}

dialog {
    border: 0;
    border-radius: 0.5em;
    background-color: rgb(79, 40, 40);
    color: white;
}

dialog button {
    font-size: 1em;
    background-color: rgb(61, 32, 32);
    color: white;
    padding: 0.4em 1em;
    border: 0;
    border-radius: 0.5em;
    margin-left: auto;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form label, form button {
    margin: 5px;
}

form input {
    border: 0;
    background-color: rgb(61, 32, 32);
    border-radius: 10px;
    color: white;
    font-size: 0.9em;
    padding: 0.5em;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
}

form button {
    flex: 0;
    margin-left: auto;
}